.spaces-container {
    margin: 20px auto;
    display: flex;
}

.space-item {
    background-color: #ff5a60;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.booking-item {
    background-color: #eab4b6;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.space-item:hover {
    transform: translateY(-5px); 
}

.space-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    font-size: 1em;

}

.space-item p {
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    padding: 5px;
    font-size: 1em;
}

.space-button {
    background-color: #c11c1c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.space-button:hover {
    background-color: rgb(126, 23, 49); /* Slightly darker on hover */
    color: #fff;
}

.space-image {
    width: 90%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    border-radius: 5px;
}

.date-input {
    padding: 2px;
}

.date-button {
    background-color: #c11c1c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.date-button:hover {
    background-color: rgb(126, 23, 49); /* Slightly darker on hover */
    color: #fff;
}

