body {
    background-color: #ffb9b9; /* Red background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;

} 

/*Nav*/

nav {
    background-color: rgba(253, 0, 0, 0.3);
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    text-align: right;
    font-size: 15px;
    word-spacing: 2px;
    padding: 20px;
    top:0;
}

nav li {
    display: inline;
}
nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline;
    padding: 5px;
}


a:hover {
    color:  #0a2737;
}
nav a:active {
    color:  #0a2737;
}

header {
    text-align: center;
    padding: 10px;
}

h1 {
    color: white;
}

.brand-logo-space img{
    position:absolute;
    margin-top: 5px;
    left:0;
}

.login-section {
    background-color: #7bdcbf;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 382px;
    overflow: hidden;
    position: absolute;       
    top: 50%;                 
    left: 50%;               
    transform: translate(-50%, -50%); 
}

h2{
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 2em;
}

label{
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    padding: 5px;
    font-size: 1em;
}

#email_label {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password{
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 360px;
    height: 50px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    color: #ffffff;
    background-color: #FF5A5F;
    font-size: 17px;
}

.login-title {
    color: #FF5A5F;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}


#log:hover{
    background-color: #be4141 ;
    color: #e1d3dc;
}
