<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Spaces</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="stylesheet" href="/static/spaces.css"> 
    </head>
    <body>

            <!--NAV BAR ONCE LOGGED IN STARTS-->
    <nav>
        <ul>
            <li>
            <a class="active" href="/index">HOME</a>
            </li>
            <li>
                <a href="/spaces">SPACES</a>
            </li>
            <li>
                <a href="/my-spaces">MY SPACES</a>
            </li>
            <li>
                <p>BOOKINGS</p>
            </li>
            <li>
                <a href="/logout">LOG OUT</a>
            </li>
        </ul>
    </nav>
    <!--NAV BAR ENDS-->
        <header>
            <div class="brand-logo">
                <img src="https://icon-library.com/images/white-home-icon-png/white-home-icon-png-21.jpg" alt="Airbnb Logo">
            </div>
        <h1>Makersbnb</h1>
    </header>

    <div class="spaces-container">
    <h2>My Bookings</h2>
    <br>
    {% for booking in bookings %}
    
    <div class="space-listing">
        <div class="space-item">
            <h3>{{booking.booking_date}}</h3>
            <p>{{booking.booking_status}}</p>
            {% for space in spaces %}
            <p>{{space.space_name}}</p>
            {% endfor %}
        </div>
        <br>
    
    {% endfor %}     
        <!-- Duplicate the above .space div for each listing -->
    </div>

    <br>
    <br>

   


    </body>
</html>