<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
</head>
<body>

        <!--NAV BAR ONCE LOGGED IN STARTS-->
        <nav>
            <ul>
                <li>
                <a class="active" href="/index">HOME</a>
            </li>
                <li>
                    <a href="/login">LOGIN</a>
                </li>
            </ul>
        </nav>
        <!--NAV BAR ENDS-->

    <!-- Brand Logo -->
    <header>
            <div class="home-brand-logo">
                <img src="https://icon-library.com/images/white-home-icon-png/white-home-icon-png-21.jpg" alt="Airbnb Logo">
            </div>
        <h1>Makersbnb</h1>
    </header>


    <footer>
        <p>&copy; 2023 Makersbnb Ltd., All Rights Reserved - Web Development by Ben, Harry, Megan, and Ray</p>
    </footer>

</body>
</html>


