<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
</head>
<body>

    <!-- Brand Logo -->
    <div class="brand-logo">
        <h1>MakersBnB</h1>
    </div>

    <!-- Login Section -->
    <div class="login">

        <!-- Login Form -->
        <form action="/login" method="POST">
            <p>
                <label class='email_label' for="email"><strong>EMAIL:</strong></label>
                <br>
                <input type="text" name="email" id="email_label">
            </p>
            <p>
                <label for="password"><strong>PASSWORD:</strong></label>
                <br>
                <input type="password" name="password" id="password">
            </p>
            <input type="submit" value="LOGIN" id="log">
        </form>
    </div>

</body>
</html>


