<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Login Page</title>
    <meta charset="utf-8">
    </head>
    <body>
        <h1>Makers BnB</h1>
        <form action="/login" method="POST">
            <p>
                <label class='email_label' for="email"><strong>Enter email:</strong></label>
                <br>
                <input type="text" name="email" id="email_label">
            </p>
            <p>
                <label for="password"><strong>Enter password:</strong></label>
                <br>
                <input type="password" name="password" id="password">
            </p>
                <input type="submit" value="Login">
        </form>
    </body>
</html>