<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Spaces</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="stylesheet" href="/static/spaces.css"> 
    </head>
    <body>

    <!--NAV BAR ONCE LOGGED IN STARTS-->
    <nav>
        <a href="/spaces">
            <div class="brand-logo-space">
                <img src="https://res.cloudinary.com/dut4qf1bt/image/upload/v1708516705/HomeStay/Pngtree_beach_house_logo_5890445_q9dncd.png" alt="Airbnb Logo" style="width: 120px; height: auto;">
            </div>
        </a>
        <ul>
            <li>
                <a href="/spaces">HOME</a>
            </li>
            <li>
                <a href="/my-spaces">MY SPACES</a>
            </li>
            <li>
                <a href="/bookings">BOOKINGS</a>
            </li>
            <li>
                <a href="/logout">LOG OUT</a>
            </li>
        </ul>
    </nav>
    <!--NAV BAR ENDS-->
    {% for space in spaces %}
    <h2>Book {{space.space_name}}</h2>
    {% endfor %}
    <div class="spaces-container">
        {% for space in spaces %}
            <div class="space-item">
                <h3>{{space.space_name}}</h3>
                <p>{{space.space_description}}</p>
                <img src="{{ space.space_image_url }}" alt="Space Image" class="space-image">
                <p>£{{space.price_per_night}} per night</p>
            {% endfor %}
            <form action="/spaces/create" method="POST">
                <div class="date-input">
                    <label for="start_date">Start date:<br></label>
                    <input type="date" name="booking_start_date" id="start_date">
                </div>
                <div class="date-input">
                    <label for="end_date">End date:<br></label>
                    <input type="date" name="booking_end_date" id="end_date">
                </div>
                <input class='date-button' type="submit" value="Request to Book Dates">
            </form>
        </div>
        </div>

    </body>
    </html>
