<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Spaces</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="stylesheet" href="/static/spaces.css"> 
    </head>
    <body>

    <!--NAV BAR ONCE LOGGED IN STARTS-->
    <nav>
        <div class="brand-logo-space">
            <img src="https://res.cloudinary.com/dut4qf1bt/image/upload/v1708516705/HomeStay/Pngtree_beach_house_logo_5890445_q9dncd.png" alt="Airbnb Logo" style="width: 120px; height: auto;">
        </div>
        <ul>
            <li>
                <a href="/my-spaces">MY SPACES</a>
            </li>
            <li>
                <a href="/bookings">BOOKINGS</a>
            </li>
            <li>
                <a href="/logout">LOG OUT</a>
            </li>
        </ul>
    </nav>
    <!--NAV BAR ENDS-->


<h2>Book a Space</h2>
    <div class="spaces-container">
    {% for space in spaces %}
        <div class="space-item">
            <h3>{{space.space_name}}</h3>
            <p>{{space.space_description}}</p>
            <img src="{{ space.space_image_url }}" alt="Space Image" class="space-image">
            <p>£{{space.price_per_night}} per night</p>
            <a class='space-button' href="/spaces/{{space.id}}">Book Now</a>
        </div>
        <br>
    {% endfor %}    
    </div>
</body>
</html>