<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Spaces</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="stylesheet" href="/static/spaces.css"> 
    </head>
    <body>
            <!-- Brand Logo -->
    <div class="brand-logo">
        <h1>MakersBnB</h1>
    </div>
    <div class="spaces-container">
    <h2>Book a Space</h2>
    <br>
    <div class="space-listing">
        <div class="space-item">
            <h3>Beautiful Relaxing Space</h3>
            <p>Description, followed by an ellipse when the limit is reached...</p>
            <button class= "space-button">Book Now</button>
        </div>
        <br>
        <div class="space-item">
            <h3>Beautiful Relaxing Space</h3>
            <p>Description, followed by an ellipse when the limit is reached...</p>
            <button class= "space-button">Book Now</button>
        </div>
        
        <!-- Duplicate the above .space div for each listing -->
    </div>
    <br>
    <br>

    <div>
        <a href="/logout">LOGOUT</a>
    </div>

    </body>
</html>